<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Park.example.mapper.OrderMapper">

<insert id="orderinsert" parameterType="order">
	INSERT INTO dogorder (
				o_amount,
				o_sendname,
				o_sendphone,
				o_takename,
				o_takephone,
				o_takeaddress,
				o_title,
				o_pay,
				o_price,
				o_number,
				o_date
			) VALUES (
				#{o_amount},
				#{o_sendname},
				#{o_sendphone},
				#{o_takename},
				#{o_takephone},
				#{o_takeaddress},
				#{o_title},
				#{o_pay},
				#{o_price},
				#{o_number},
				#{o_date}
			) 
</insert>

<select id="orderList" resultType="order">
	SELECT			o_idx			as o_idx,
					o_takename		as o_takename,
					o_takephone		as o_takephone,
					o_takeaddress	as o_takeaddress,
					o_price			as o_price,
					o_amount		as o_amount,
					o_title			as o_title,
					o_pay			as o_pay,
					o_date			as o_date
	
	FROM			dogorder		
</select>

<select id="orderMonth" resultType="order">
	SELECT 		o_idx,
				date_format(o_date,'%Y-%m') o_ym_date,
				sum(o_price * o_amount) total_price
	FROM 			dogorder ta
	GROUP BY		o_ym_date
	ORDER BY 	o_ym_date desc
</select>
</mapper>
	